header, h1, h2, h3 {
  font-family:'Amatic SC', cursive;
}
body {
  font-family: 'Mohave', sans-serif;
  margin: 0;

}

/* Grid CSS */
#heroSection {
  background-image: url("../images/headerBackground.png");
  background-size: cover;
}
#heroGrid {
  margin: 0px auto;
  padding: 50px 35px;
  display: grid;
  min-height: 500px;
  max-width: 1000px;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  grid-template-areas:
  "heroText heroImage"
  ;
}
#footerGridArea {
  margin: 0px auto;
  padding: 50px 35px;
  display: grid;
  min-height: 500px;
  max-width: 1000px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas:
  "contactForm teaCup"
  ;
}

#heroText {
  margin: 0 auto;
}

#heroImage {
  background-image: url("../images/heroImage.png");
  background-size: contain;
}
#work {
  margin: 0px 5%;
  grid-area: featuredProduct;
  background-image: url("../images/furniture1.png");
}
#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url("../images/furniture2.png");
}
#CTA {
  grid-area: CTA;
  background-image: url("../images/woodbg.png");
  justify-content: 0px 5%;
  cursor: pointer;
}
#headline {
  border-bottom: 5px solid #5D768C;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  right: -50px;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}
.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}


/* Category Grid CSS */

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}
#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "case study 1"
  "case study 2"
  "case study 3"
  ;
}
#caseStudy1 {
  grid-area: casaeStudy1;
  grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "caseStudy1Text"
        "caseStudy1Image";
  background-image: url("../images/bookcases@2x.png");
}
#caseStudy2 {
  grid-area: caseStudy2;
  grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "caseStudy2Text"
        "caseStudy2Image";
  background-image: url("../images/beds@2x.png");
}
#caseStudy3 {
  grid-area: caseStudy3;
  grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "caseStudy3Text"
        "caseStudy3Image";
  background-image: url("../images/couch@2x.png");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 24px;
  border-bottom: 5px solid #5D768C;
}

@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
  #heroGrid {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "heroText"
        "heroImage";
  }
}
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-image: url("../images/navBackground.png");
  background-size: cover;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #5D786C;
  font-weight: 700;
}

/* Typography CSS */

h1 {
  font-size: 60px;
  margin: 0px 0px;
  color: #5D768C;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}
